.foot{
    position: relative;
    top:100px;
    display: flex;
    justify-content: center;
}

.foot ul li{
    display: inline-block;
    margin-right:15px;
    font-size:12px;
    color:#4d4d4d;
    cursor: pointer;
}

.foot .body span{
    display: flex;
    justify-content: center;
    color:#4d4d4d;
    font-size:12px;
    text-align: center !important;
    width: 100%;
    margin:15px auto;
}