.peopleModal{
    padding:10px;
}

.peopleModal .messageHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom:10px;
    border-bottom:1px solid #d9d9d9;
}

.peopleModal .messageHead .close{
    font-size:20px;
    cursor: pointer;
}

.peopleModal .messageHead h2{
    font-size:15px;
    color:black;
    font-weight: 500;
}

.peopleModal .messageHead .next{
    font-size:15px;
    color:#0295F6;
    opacity: .3;
    cursor: pointer;
    pointer-events: none;
}

.peopleModal .messageHead .next.active{
    opacity: 1;
    pointer-events: auto;
}

.peopleModal .shareHead{
    position: relative;
    padding-bottom:10px;
}

.peopleModal .shareHead h2{
    font-size:15px;
    color:black;
    font-weight: 500;
    text-align: center;
}

.peopleModal .shareHead .close{
    position: absolute;
    right:10px;
    font-size:20px;
    cursor: pointer;
    font-weight: 500;
    color:#4d4d4d;
    top:50%;
    transform: translateY(-50%);
}


.peopleModal .searchBar{
    padding: 10px 0;
    display: inline-flex;
    align-items: center;
    border-bottom:1px solid #d9d9d9;
    width: 100%;
}

.peopleModal .searchBar .in{
    max-height: 280px;
    overflow-Y: auto;
    overflow-x: hidden;
    width: 100%;
}

.peopleModal .searchBar span{
    font-size:14px;
    font-weight: 500;
    align-self: flex-start;
}

.peopleModal .searchBar .added{
    margin-left: 15px;
}

.peopleModal .searchBar .added ul{
    list-style: none;
}

.peopleModal .searchBar .added ul li{
    display: block;
    font-size: 13px;
    background-color: #0295F6;
    color:white;
    padding:9px;
    border: 5px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom:10px;
    display: flex;
    max-width: 180px;
    justify-content: space-between;
    align-items: center;
}


.peopleModal .searchBar input{
    margin-left: 15px;
    padding-left:2px;
    width: 100%;
    height:30px;
    border: none;
}

.peopleModal .searchBar input:focus{
    outline: none;
}

.peopleModal .body{
    position: relative;
    height:100%;
    overflow: auto;
    padding:10px 0;
    display: flex;
    flex-direction: column;
}

.peopleModal .body h3{
    font-size:14px;
    font-weight: 500;
}

.peopleModal .body .list{
    margin-top:15px;
    overflow-y: auto;
    height:80%;
}

.peopleModal .body .list .person{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-bottom:10px;
    width: 100%;
    padding:7px 0;
    position: relative;
}

.peopleModal .body .list .person:hover{
    background-color: #d9d9d9;
}


.peopleModal .body .list .person img{
    width:44px;
    height:44px;
    border-radius: 50%;
}

.peopleModal .body .list .person .info{
    margin-left:7px;
}


.peopleModal .body .list .person .info h2{
    font-size:14px;
    font-weight: 400;
    color:#4d4d4d;
}

.peopleModal .body .list .person .info p{
    margin-top:5px;
    font-size:13px;
    font-weight: 300;
}

.peopleModal .body .list .person .choose{
    position: absolute;
    right:10px;
    top:50%;
    transform: translateY(-50%);
    width:22px;
    height:22px;
    border-radius: 50%;
    border:1px solid black;
    cursor: pointer;
}

.peopleModal .body .list .person .choose.active{
    background-color: #0295F6;
    border:none;
}

.peopleModal .body .list .person .choose.active::after{
    content:"✓";
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    color:white;
    font-size:14px;
}


.peopleModal .body .submit{
    align-items: flex-end;
    padding-top: 10px;
    border-top:1px solid #d9d9d9;
}

.peopleModal .body .submit input{
    width: 100%;
    height:0px;
    border:none;
    margin-bottom:15px;
    pointer-events: none;
    transition:.2s all ease-in-out;
}

.peopleModal .body .submit input.show{
    height:40px;
    pointer-events: auto;
}

.peopleModal .body .submit input:focus{
    outline: none;
}

.peopleModal .body .submit button{
    background-color: #0295F6;
    border:none;
    width:100%;
    height:40px;
    color:white;
    cursor: pointer;
    font-size:15px;
    font-weight: 500;
}

.peopleModal .body .submit button.disabled{
    opacity: .3;
    pointer-events: none;
}